html {
  scroll-behavior: smooth;
}

:root {
  /* --primary: hsla(225, 29%, 22%, 0.65);
  --secondary: hsla(196, 8%, 56%, 0.65); */
  --primary: hsl(224, 15%, 53%, 0.65);
  --secondary: hsla(196, 41%, 45%, 0.65);
}

.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.doctorContainer {
  width: 60%;
  /* margin-left: 2%; */
  margin: 20px;
}

.doctorItem {
  border: 1px solid #f0f0f0;
  padding-left: 2%;
}

.bookButton {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #f0f0f0;
}

.neo-input {
  border: 1px solid #777;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-right:10px;
  height: 25px;
  padding-left: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.7rem 6.5rem;
  background-color: #fff;
  position: fixed;
  z-index: 1000000;
}

.nav h2 {
    color: black;
    font-size: 1.7rem;
    padding-top: 10px;
}

#nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#nav-item li {
  list-style: none;
  padding-right: 50px;
}

#nav-item li a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
}

#nav-item li a:hover {
  color: #5ce1e6;
}

.back {
  background: linear-gradient(135deg, var(--primary), var(--secondary)),
              url(back.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* z-index: -1;s */
}

.back2 {
  background: url(back2.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.appointmentContainer {
  padding-left: 20px;
}

.bookingsContainer {
  padding-top: 150px;
  margin-left: 20%;
  margin-right: 20%;
}

.container {
  width: 100%;
  height: 100vh;
  display:flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding-left: 15%;
}

.title {
  color:black;
  font-size: 2.5rem;
}

.subtitle {
  color: white;
  font-size: 1.3rem;
}

form {
  background: #fff;
  width: 600px;
  height: 55px;
  display: flex;
}

form input {
  flex: 1;
  border: none;
  outline: none;
  background-color: #fff;
  color: black;
}

form button {
  background: tomato;
  padding: 10px 50px;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

form .fa-search {
  align-self: center;
  color:#777;
  padding: 0 25px 0px 10px;
  background-color: #fff
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
